---
import type { GetStaticPaths } from "astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const data = await fetch("https://pokeapi.co/api/v2/pokemon/").then(
    (response) => response.json()
  );

  return data.results.map((pokemon) => {
    return {
      params: { name: pokemon.name },
      props: { pokemon },
    };
  });
}

const { name } = Astro.params;

const response = await fetch(`https://pokeapi.co/api/v2/pokemon/${name}`);
const pokemon = await response.json();
---

<Layout title="Welcome to Astro.">
  <main>
    {pokemon.name}
    {pokemon.order}
    {
      Object.entries(pokemon.sprites)
        .filter(
          ([spriteKey, spriteValue]) =>
            spriteValue !== null &&
            spriteKey !== "other" &&
            spriteKey !== "versions"
        )
        .map(([spriteKey, spriteValue]) => (
          <img src={spriteValue} alt={spriteKey} width={150} height={60} />
        ))
    }
  </main>
</Layout>
